@charset "ISO-8859-1";
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	width:100%;
	background:	#3a506b ;
}

#chc_menu {
	display:none;
     
}

header label {
	display:none;
	width:30px;
	height:30px;
	padding:10px;
	border-right:1px solid #fff;
	
}

header label:hover{
	cursor: pointer;
	background:rgba(0,0,0,0.5);
}

.menu ul{
	margin:0;
	list-style:none;
	padding:0;
	display:flex;
	
	
}
.menu li {
	border-right:1px solid #fff;
	border-left:1px solid #fff;
}
.menu li:hover {
	background:rgba(255,255,255,0.3)
}
.menu li a{
	display:block;
	padding:15px 20px;
	color: #fff;
	text-decoration:none;
}

@media (max-width: 768px){
	header label {
	display:block;
	}
	.menu {
	position:absolute;
	background:	#1C2541;
	width:70px;
	margin-left: -70%;
	border-bottom:1px solid rgba(255,255,255,0.3)
	
	
 
	transition:all 1;
	}
	
	.menu ul {
	flex-direction:column;
	
	
	}
	.menu li {
	border-top: 1px solid #fff;
	}
	
	#chc_menu:checked ~ .menu {
	margin :0;
	
	}
}

.material-icons {
  color: white;
  }
  
.contenedor{
	width: 100%;
	height:100vh;
	background-position:center center;
	background-size:cover;
	background-image: url("image/Tecnologia.jpg");
	
}