@charset "ISO-8859-1";

*{
	margin : 0;
	padding : 0;
}
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}



#chc_menu {
	display:none;
     
}

header label {
	display:none;
	width:30px;
	height:30px;
	padding:10px;
}

header label:hover{
	cursor: pointer;
	background:rgba(0,0,0,0.5);
}

.menu ul{
	margin:0;
	list-style:none;
	padding:0; 
	display:table;
	width:100%;
	background:	#1D445F;
	
	
	
	}
	
.menu li:hover {
	background:rgba(255,255,255,0.2);
}



.menu li a{
	display:block;
	padding:15px 20px;
	
	color: #E7F2F8;
	text-decoration:none;
}


.menu li{
	
	float:left;
	position:relative;
	
	}

.menu li ul{
  	position:absolute;
    display:none;
    width:auto;
    
 	
}


.menu li li{
	background:#1D445F;
	border-bottom:1px solid rgba(255,255,255,1);
	border-top: 1px solid #fff;
	
}


.menu li:hover ul{
	display:block;
}


@media (max-width: 768px){
	header label {
	display:block;
	}
	
	header{	
	width:100%;
	background:	#1D445F;
	}
	.menu {
	position:absolute;
	display:flex;
	background:	#1D445F;
	margin-left: -700%;
	border-bottom:1px solid rgba(255,255,255,1);
	
	transition:all 1;
	}
	
	.menu ul {
	display:flex;
	
	flex-direction:column;
	
	
	}
	 
	 .menu ul ul{
	left:100%;
	top:0;
	 
	 }
	.menu li {
	border-top: 1px solid #fff;
	
	}
	
	#chc_menu:checked ~ .menu {
	margin :0;
	
	}
}

.material-icons {
	
  	color: white;
	font-size: 48px;
  }
  
.contenedor{
	width: 100%;
	height:100vh;
	background-position:center center;
	background-size:cover;
	background-image: url("../image/Estudiantes.jpg");
	
}

.cuadro{
	width : 500px;
	background: #090909;
	color : white;
	margin : auto;
	margin-top : 0px;
	padding: 5px 5px 30px 5px;
	border-top : 35px solid #141414;
	border-right : 35px solid #141414;
	border-left : 35px solid #141414;
	border-radius: 6px;
	opacity : 0.7;
}

.texts{
	margin : auto;
	margin-left : 0px;
	width : 200px;
	height : 25px;
	border-radius : 6px;
	font-family: verdana;
	font-weight: 900;
	
}
.texts2{
	margin : auto;
	margin-left :25px;
	width : 200px;
	height : 25px;
	border-radius : 6px;
	font-family: verdana;
	font-weight: 900;
	
}
.subtitulos2{
	margin : auto;
	margin-left : 85px;
		
}

.botones{
	width : 130px;
	height : 45px;
	border-radius : 6px;
	background : blue;
	color : white;
	font-size: 15px;
}

.Ddls{
	margin : auto;
	width : 200px;
	height : 25px;
	border-radius : 6px;
	font-family: verdana;
	font-weight: 900;
}
.Ddls2{
	margin : auto;
	margin-left : 25px;
	width : 200px;
	height : 25px;
	border-radius : 6px;
	font-family: verdana;
	font-weight: 900;
}

.titulos{
	font-size: 30px;
	font-family: fantasy;
}

.footer{
	width: 100%;
	height:15vh;
	background-color: #D2C8CA;
}

.footer{
    width: 100%;
    height:10vh;
    background-color: #7C7DB6;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
