@charset "ISO-8859-1";

*{
	margin : 0;
	padding : 0;
}
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

  
.contenedor{
	width: 100%;
	height:100vh;
	background-position:center center;
	background-size:cover;
	background-image: url("../image/Estudiantes.jpg");*/
	
}

.cuadro{
	width : 500px;
	background: #090909;
	color : white;
	margin : auto;
	margin-top : 0px;
	padding: 5px 5px 30px 5px;
	border-top : 35px solid #141414;
	border-right : 35px solid #141414;
	border-left : 35px solid #141414;
	border-radius: 6px;
	opacity : 0.7;
}

.texts{
	margin : auto;
	margin-left : 0px;
	width : 200px;
	height : 25px;
	border-radius : 6px;
	font-family: verdana;
	font-weight: 900;
	
}
.texts2{
	margin : auto;
	margin-left :25px;
	width : 200px;
	height : 25px;
	border-radius : 6px;
	font-family: verdana;
	font-weight: 900;
	
}
.subtitulos2{
	margin : auto;
	margin-left : 85px;
		
}

.botones{
	width : 130px;
	height : 45px;
	border-radius : 6px;
	background : #671451;
	color : white;
	font-size: 15px;
	opacity: 1;
}

.Ddls{
	margin : auto;
	width : 200px;
	height : 25px;
	border-radius : 6px;
	font-family: verdana;
	font-weight: 900;
}
.Ddls2{
	margin : auto;
	margin-left : 25px;
	width : 200px;
	height : 25px;
	border-radius : 6px;
	font-family: verdana;
	font-weight: 900;
}

.titulos{
	margin : auto;
	margin-left : 200px;
	font-size: 30px;
	font-family: fantasy;
}


.footer{
    width: 100%;
    height:10vh;
    background-color: #7C7DB6;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
